<!DOCTYPE html>
<html>
  <head>
    <title>Форма Регистрации</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
  </head>
  <body>
    <h1>Авторизация</h1>
    <img src="/narxoz.png" alt="s" />
    <form action="/api/login" method="post">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />
      </div>
      <div class="form-group">
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required />
      </div>
      <button type="submit">Войти</button>
    </form>
  </body>
</html>
